
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: aqua;
}

.grid{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;

}

.item-grid{
    background-color: #000;
}

.item-grid:nth-child(5){
    background-color: blueviolet;
    grid-area: 1 / 1 / 3 / 3;
}


