*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

html{
    font-size: 6.25%;
}


.centralizado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header{
    font-size: calc(10px + 1vw);
    background-color: #faa640;
    gap: 1vw;
    position: fixed;
    width: 100%;
}


header a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    

}

.one, .two, .three{
    height: 100vh;
}

.one{
    background-color: #6cff6e;
}

.one h1{
    font-size: clamp(3vmax, 4vmax, 5vmax);
}

.two{
    background-color: #a3fec7;
    display: flex;
}

.two .metade{
    width: 50%;
    background-color: #fa4069;
}


